<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8"/>

    <title>{{ title ?? entry.title }}</title>

    <script src="/dist/js/app.js" async></script>
</head>
<body>
    {% block content %}{% endblock %}
</body>
</html>
